// ------------------------------------
//
// Base
// 
// ------------------------------------

$font--body: "WorkSans-Regular", sans-serif;

body {
  font-size: $font-size;
  font-family: $font--body;
}
